<footer id="rodape">
    <ul>
        <li><%= footer__reference__title %></li>

        <% footer__references.forEach(reference => { %>
            <li>
                <%= reference %>
            </li>
        <% }) %>

        <%# <li>[2] - HALLIDAY, David; RESNICK, Robert; WALKER, Jearl. Fundamentos de física. 8. ed. Rio de Janeiro, RJ: LTC, vol 1;</li>
        <li>[3] - Nussenzveig, H. Moyses, Curso de Física Básica, Vol. 1, Ed. Edgar Blucher Ltda;</li>
        <li>[4] - Young, H. D e Freedman, R. A. – Sears e Zemansky, Física I: Mecânica. 10a edição, Ed. Pearson Addison Wesley;</li> %>
        

    </ul>

    <ul>
        <li>Copyright © 2021 Jefferson Barros Vieira</li>
    </ul>
</footer>