<footer id="rodape">
    <ul>
        <li>Referências</li>

        <li>[1] - J.B. Marion, S.T. Thornton, Classical Dynamics of Particles and Systems, 5th Edition (Brooks/Cole Thomson Learning, 2004), p.43;</li>
        <!-- <li>[2] - HALLIDAY, David; RESNICK, Robert; WALKER, Jearl. Fundamentos de física. 8. ed. Rio de Janeiro, RJ: LTC, vol 1;</li>
        <li>[3] - Nussenzveig, H. Moyses, Curso de Física Básica, Vol. 1, Ed. Edgar Blucher Ltda;</li>
        <li>[4] - Young, H. D e Freedman, R. A. – Sears e Zemansky, Física I: Mecânica. 10a edição, Ed. Pearson Addison Wesley;</li> -->
        

    </ul>

    <ul>
        <li>Copyright © 2021 Jefferson Barros Vieira</li>
    </ul>
</footer>