<div id="formulario-content">
    <form action="/send" id="formulario" method="POST">
        <!-- <i class="fas fa-times"></i> -->
        <label for="">Assunto:</label>
        <input name="assunto" type="text" id="assunto" placeholder="Insira o assunto">
        <label for="">Mensagem:</label>
        <textarea name="mensagem" id="mensagem"> </textarea>
        <input class="btn-formulario" type="submit" value="Enviar">

        <div class="fechar" id="fechar"></div>
    </form>
</div>