<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta http-equiv="content-language" content="pt-br, en-US" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="author" content="Jefferson Barros Vieira">
<meta name="reply-to" content="[jefferson.negociom03@gmail.com]">
<meta name="description" content="LabFísica - Ambiente virtual para estudantes e professores da área da Física. Resolva problemas físicos, visualize simulações, interaja com elas e realize uma análise da modelagem matemática completa.">

<meta name="keywords" content="labf&iacute;sica, plataforma, ferramenta, metodo, aluno, alunos, professor, professores, estudante, estudantes, medio, m&eacute;dio, fundamental, imagina&ccedil;&atilde;o, criatividade, interacao, intera&ccedil;&atilde;o, intera&ccedil;&otilde;es, interativo, interativa, alternativa, ambiente, LabF&iacute;sica, laboratorio, laborat&oacute;rio, fisica, f&iacute;sica, virtual, simulacao, simula&ccedil;&atilde;o, desenvolvimento, experimentos, experi&ecirc;ncias, experi&ecirc;cia, ensino, resolu&ccedil;&atilde;o, resolucao, problemas, modelagem, matematica, matem&aacute;tica, mecanica, mec&acirc;nica, classica, cl&aacute;ssica, ondas, oscila&ccedil;&otilde;es, oscilacoes, termodinamica, termodin&acirc;mica, optica, otica, &oacute;ptica, &oacute;tica, geometrica, cinematica, cinem&aacute;tica, dinamica, din&acirc;mica, leis, newton, trabalho, energia, potencia, pot&ecirc;ncia, momento, gravitacao, gravita&ccedil;&atilde;o, hidrostatica, hideost&aacute;tica, hidrodinamica, hidrodin&acirc;mica pendulo, propagacao, propaga&ccedil;&atilde;o, reflex&atilde;o, reflexao, refraç&ccedil;&atilde;o, refracao, difracao, difra&ccedil;&atilde;o, interferencia, interfer&ecirc;ncia, termometria, escalas, dioptros, di&oacute;ptro, lentes, dilatacao, dilata&ccedil;&atilde;o, calor, vetor, vetorial, escalar, movimento, distancia, dist&acirc;ncia, trajet&oacute;ria, repouso, avi&acirc;o, referencial, deslocamento, c&aacute;lculo" />

<meta name="google-site-verification" content="92FSmC8Iy0ILzcHYQP4W1rqplh1qALjqglWEHauiJVk" />
<meta name="copyright" content="© 2021 Jefferson Barros Vieira" />
<%# <meta http-equiv="pragma" content="no-cache" />  serve para não amarzenar dados do site em cache %>

<meta http-equiv="cache-control" content="public" />
<meta name="revisit-after" content="7 days" /> 

<meta name="generator" content="Visual Studio Code" />

<link rel="canonical" href="https://www.labfisica.com" />
<link rel="shortcut icon" type="image/x-icon" href="/img/icon.png" />
<link rel="preload" as="image" href="/img/loader.gif" />

<title>
    <%= title %>
</title>

<link type="text/css" href="https://s3.amazonaws.com/glowscript/css/ide.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/style.css" type="text/css">