<script src="/js/fecharMenu.js"></script>
<script src="/js/apple.js"></script>
<script src="/js/particleCanvas.js"></script>
<script src="/js/sendEmail.js"></script>

<%# Importando o ReCaptcha %>
<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
    function submitForm() {
        let response = grecaptcha.getResponse();
        
        if(response.length == 0) {
            document.getElementById('g-recaptcha-error').innerHTML = `
            <span style="color: red;">
                É necessário a verificação!
                </span>
            `;
            return false;
        }
        return true;
    }
    
    function verifyCaptcha() {
        document.getElementById('g-recaptcha-error').innerHTML = '';
    }
</script>

<%# Importando o VPython %>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/lib/jquery/2.1/jquery.min.js"></script>
<script type="text/javascript"
    src="https://s3.amazonaws.com/glowscript/lib/jquery/2.1/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="https://s3.amazonaws.com/glowscript/package/glow.3.0.min.js"></script>
<script src="js/vpython.js"></script>

<%# Importando o MathJax %>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>



