    <section class="section">

        <% infos.forEach(info => { %>
    
            <div class="col">
                <%# TITLE COL %>
                <% if (info.title) { %>
                    <div class="title"> <%= info.title %> </div>
                <% } %>
    
                <%# CONTENT COL %>
                <% if (info.content) { %>
                 
                    <div class="content">
                        <%=info.content %>

                        <% if (info.hashtag) { %>
                            <br><br>
                            <%= info.hashtag %>
                        <% } %>

                    </div>
    
                <% } %>
                
                <%# QUADRO COL %>
                <% if (info.quadro) { %>
                    <div class="quadro">
                        <div id=<%= info.quadro %>  class="glowscript"> </div>
                    </div>
                <% } %>
    
            </div>
    
        <% }) %>
        
    </section>