<section class="main__topo" id="topo">
    <div class="main__topo__pesquisar">
        <% if (content.main__topo__pesquisar__campo) { %>
            <input class="main__topo__pesquisar__campo" type="text"
                placeholder="<%= content.main__topo__pesquisar__campo %> ">
        <% } %>
    </div>
    <% if (content.btn) { %>
        <div class="main__topo__botoes">
            <% if (content.btn.main__topo__singUp) { %>
                <a href="/cadastrar" class="main__topo__botoes__botao" id="sign-up">
                    <%= content.btn.main__topo__singUp %> 
                </a>
            <% } %>
            <% if (content.btn.main__topo__logIn) { %>
                <a href="/entrar" class="main__topo__botoes__botao" id="log-in">
                    <%= content.btn.main__topo__logIn %> 
                </a>
            <% } %>
        </div>
    <% } %>
</section>