<section class="main__topo" id="topo">
    <div class="main__topo__pesquisar">
        <input class="main__topo__pesquisar__campo" type="text"
            placeholder="<%= main__topo__pesquisar__campo %> ">
    </div>
    <div class="main__topo__botoes">
        <a href="/cadastrar" class="main__topo__botoes__botao" id="sign-up">
            Sign Up
        </a>
        <a href="/entrar" class="main__topo__botoes__botao" id="log-in">
            Log In
        </a>
    </div>
</section>