<section class="main__topo">
    <div class="main__topo__pesquisar">
        <input class="main__topo__pesquisar__campo" type="text"
            placeholder="<%= main__topo__pesquisar__campo %> ">
    </div>
    <div class="main__topo__botoes">
        <button class="main__topo__botoes__botao" id="sign-up">
            Sign Up
        </button>
        <button class="main__topo__botoes__botao" id="log-in">
            Log In
        </button>
    </div>
</section>