@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Patrick+Hand&display=swap');

* {
    font-family: 'Patrick Hand', cursive;
    color: white;
}

a {
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    transition: 0.3s all ease-out;
}

a:hover{
    background-color: #000000c7;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* overflow-x: hidden; */
    background-color: #0f1418;
    z-index: 0;
}

#main-slide-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 188px;
    height: 100vh;
    border-right: 2px solid #121b25;
    background-color: #171b21;
    padding: 20px;
    z-index: 100;
    transition: all 0.3s ease-out;
}

#seta {
    background-image: url('../img/seta.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 10px;
    margin-right: -25px;
    transform: rotate(180deg);
    right: 0;
    top: 0;
    transition: all 0.3s ease-out;
    cursor: pointer;
    z-index: 110;

}

#tutorial {
    margin: 20px 0 15px 0;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-image: linear-gradient(-45deg, #59bd87, #15c3f7, #ac92d0, #ffcd56, #75be6b);
    transition: all 1s ease-out;
}

hr.iniciar {
    border-top: 2px solid #47cf72;
    border-bottom: 1px solid #47cf72;
}

#tutorial button {
    margin: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;

}

#main-slide-bar .topicos{
    width: auto;
    height: auto;
    margin-top: 20px;
    padding: 10px 0 15px 0;
    font-weight: bold;
    color: white;
    font-size: 20px;
    border-top: 3px solid #ffcd56;
    border-bottom: 3px solid #15c3f7;
    border-radius: 2px;
}

#main-topo {
    height: 74px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#main-topo .pesquisar {
    display: flex;
    padding: 0 15px 0 15px;
    align-items: center;
    flex: 1;
    margin-left: 15px;
    height: 100%;
}

#text {
    height: 60%;
    width: 100%;
    background-color: #252830;
    border-radius: 5px;
    border: none;
    padding: 0 10px;
    color: white;
    
}

#main-topo .botoes {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 180px;
    
}

#main-topo button {
    height: 60%;
    width: 90px;
    margin-right: 15px;
    cursor: pointer;
}

#main-topo button:nth-child(1) {
    background-color: #61bd71;
    border: none;
    border-radius: 5px;
    color: #0b0d0f;
}

#main-topo button:nth-child(2) {
    background-color: #414a56;
    border: none;
    border-radius: 5px;
    color: white;
}


#main-content {
    position: relative;
    margin-left: 238px;
    min-height: 100vh;
    width: auto;
    color: white;
    font-size: 30px;
    z-index: 10;
    transition: all 0.34s ease-out;
}

#content-section {
    max-width: 1200px;
    width: calc(100% - 30px);
    border-radius: 5px;
    margin: 15px auto;
    padding: 15px; 
    display: flex;
    flex-wrap: wrap;
}


#content-section .title {
    font-family: 'Concert One', cursive;
    color: #ffffff;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

#content-section .content {
    margin-top: 15px;
    font-size: 22px;
    text-align: justify;
    font-family: 'Patrick Hand', cursive;
}

#content-section .col {
    flex: 1;
    min-width: 300px;
    min-height: 330px;
    padding: 0 15px;
    margin: 10px 0;
}

#content-section .quadro {
    background-color: black;
    border-radius: 10px;
    height: 330px;
    width: 100%;
    overflow: hidden;
    border: 1px solid rgba(0, 255, 255, 0.801);
}

#content-section .card {
    position: relative;
    background-color: #272e37;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(209, 209, 209);
    text-align: justify;
    min-height: 200px;
    max-width: 300px;
    padding: 0 25px 20px 25px;
    margin: 25px auto;
}

#content-section .card h3 {
    color: white;
    font-size: 25px;
    margin: 20px 0;
}

#content-section .card i {
    color: rgb(227, 232, 255);
    background-color: #0b0d0f;
    font-size: 35px;
    font-weight: 800;
    padding: 15px;
    border-radius: 10px;
    margin-top: -25px;
    margin-left: 0px;
    border: 1px solid #15c3f7;
}

#content-section .card p {
    flex: 1;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

#aparelho {
    width: 100%;
    display: flex;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}

#aparelho .celular,
#aparelho .computador {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    gap: 5px;
}

#aparelho button {
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid #e5e7e7
}

#instrucoes {
    color: white;
}

#send-email {
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px 25px 0 0;
    background-color: #47cf72;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #0b0d0f;
    cursor: pointer;

}

#send-email:hover{
    background-color: #40bb67;
}

.glowscript {
    width: 100%;
    height: 100% !important;
    overflow: hidden;
}

.glowscript-canvas-wrapper {
    width: 100%;
    height: 100% !important;
    overflow: hidden;
}

#glowscript1 canvas,
#glowscript2 canvas{
    width: 100%;
    height: inherit;
}

#canvas2 {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

#formula-section {
    max-width: 1200px;
    width: calc(100% - 30px);
    border-radius: 5px;
    margin: 15px auto;
    padding: 15px; 
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#formula-section h5 {
    margin: 15px auto;
    padding: 10px 25px;
    height: auto;
    background-color: #121b259a;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #47cf72;
    font-size: 20px;
}


footer {
    padding: 10px 40px;
    margin-left: -10px;
    background-color: #1c2027;
    font-size: 16px;
}

#formulario-content {
    position: fixed;
    background-color: #0f14187a;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    transition: all 0.3s ease-out;

}

#formulario {
    position: relative;
    max-width: 300px;
    width: 50vw;
    /* min-height: 300px; */
    background-color: #272e37;
    border: 1px solid #15c3f7;
    display: flex;
    flex-direction: column;
    padding: 20px 25px;
    border-radius: 15px;
    /* opacity: 0; */
    transform: scale(0.1);
    transition: all 0.5s;
}

#formulario input {
    color: black;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}

#formulario textarea {
    color: black;
    padding: 5px;
    font-size: 20px;
    /* width: 200px; */
    margin-bottom: 10px;
}

#formulario i {
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(227, 232, 255);
    font-size: 35px;
    font-weight: 800;
    padding: 15px;
    border-radius: 10px;
    margin-top: -50px;
    margin-right: -50px;
    cursor: pointer;
    transition: all 0.7s ease-out;
}

#formulario .btn-formulario {
    background-color: #0f1418;
    border-radius: 5px;
    margin-top: 20px;
    color:rgba(0, 255, 255, 0.801);
    border: none;
    cursor: pointer;
}