<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="shortcut icon" type="image/x-icon" href="/img/icon.png" />
    <link rel="preload" as="image" href="/img/loader.gif">

    <title>LabFísica - admin</title>

    <style> *{margin: 0; padding: 0;} </style>
</head>
<body>
    
    <%# Preload %>
    <%- include('../components/templates/Preload', {preload__name: 'Carregando...'}) %> 

    <% if (!log) { %>
        <form action="/admin" method="POST" onsubmit="return submitForm()">
            <label for="">User:</label>
            <input name="user" type="text" id="user" placeholder="Insira o assunto">
            <br>
            <br>
            <label for="">Password:</label>
            <input name="pass" type="password" id="pass" placeholder="Insira a senha">
            <br>
            <div class="g-recaptcha" data-sitekey="6LefqzscAAAAADs5E587dRKaz8DZ53lhfqfLMQt0" data-callback="verifyCaptcha"></div>
            <div id="g-recaptcha-error"></div>
            <hr>
            <input type="submit" value="Entrar" id="btn-admin">
        </form>
    <% } %>

    <% if (log) { %>
        <h1>Sujestões:</h1>

        <% result.forEach(elem => { %>
            Assunto: <%= elem.assunto %> <br>
            Mensagem: <%= elem.mensagem %> <br>
            Data: <%= elem.data %> <hr>
        <% }) %>

    <% } %>

    <!-- Importando o ReCaptcha -->
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script>
        function submitForm() {
            let response = grecaptcha.getResponse();
            
            if(response.length == 0) {
                document.getElementById('g-recaptcha-error').innerHTML = `
                <span style="color: red;">
                    É necessário a verificação!
                    </span>
                `;
                return false;
            }
            return true;
        }
        
        function verifyCaptcha() {
            document.getElementById('g-recaptcha-error').innerHTML = '';
        }
    </script>
</body>
</html>