<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
</head>
<body>

    <%# Preload %>
    <%- include('../components/templates/Preload', {preload__name: 'Carregando...'}) %> 

    <% if (tentativa) { %>
        <%= sucesso ? 'Preencha o usuário e senha' : 'Usuário já existente' %> 
    <% } %>
    <form action="/cadastrar" method="POST" onsubmit="return verificar()">
        <input id="user" name="user" type="text" placeholder="Usuário">
        <input id="pass" name="pass" type="password" placeholder="Senha">
        <input type="submit" value="Cadastrar"/>
    </form>
    <script>
        function verificar(){
            if (document.getElementById('user').value == '' || document.getElementById('pass').value == ''){
                alert("Preencha o usuário e senha");
                return false
            }

            return true;
        }
    </script>
</body>
</html>