<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    
    <style> *{margin: 0; padding: 0;} </style>
</head>
<body>

    <%# Preload %>
    <%- include('../components/templates/Preload', {preload__name: 'Carregando...'}) %> 

    <% if (tentativa) { %>
        <%= sucesso ? 'Usu치rio cadastrado!!' : 'Usu치rio e senha incorretos'%> 
    <% } %>
    <form action="/entrar" method="POST" onsubmit="return verificar()">
        <input id="user" name="user" type="text" placeholder="Usu치rio">
        <input id="pass" name="pass" type="password" placeholder="Senha">
        <input type="submit" value="Entrar"/>
    </form>
    <script>
        function verificar(){
            if (document.getElementById('user').value == '' || document.getElementById('pass').value == ''){
                alert("Preencha o usu치rio e senha");
                return false
            }

            return true;
        }
    </script>
</body>
</html>