<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" type="image/x-icon" href="/img/icon.png" />

    <title>
        <%= title %>
    </title>
</head>

<body>
    <header id="main-slide-bar">
        <canvas id="canvas1"></canvas>
        <hr class="iniciar">
        <div id="tutorial">
            <button scroll="#glowscript2"> Tutorial </button>
        </div>
        <div class="topicos" style="gap: 1px; display: flex; flex-direction: column;">
            <a href="#mecanica-classica" style="color: white; text-decoration: none;">Mecânica Clássica</a>
            <a href="#" style="color: white; text-decoration: none;">Oscilações e Ondas</a>
            <a href="#" style="color: white; text-decoration: none;">Termodinâmica</a>
            <a href="#" style="color: white; text-decoration: none;">Óptica Geométrica</a>
        </div>

        <div id="seta"></div>
    </header>

    <div id="formulario-content">
        <form action="" id="formulario">
            <i class="fas fa-times"></i>
            <label for="">Assunto:</label>
            <input name="assunto" type="text" id="assunto" placeholder="Insira o assunto">
            <label for="">Mensagem:</label>
            <textarea name="mensagem" id="mensagem"> </textarea>
            <input class="btn-formulario" type="submit" value="Enviar">
        </form>
    </div>

    <main id="main-content">
        <div id="main-topo">
            <div class="pesquisar">
                <input id="text" type="text" placeholder="Pesquisar">
            </div>
            <div class="botoes">
                <button id="sign-up">Sign Up</button>
                <button id="log-in">Log In</button>
            </div>
        </div>

        <section id="content-section">
            <div class="col">
                <div class="title">
                    <!-- Uma nova Experiência de um Laboratório de Física -->
                    Um Laboratório de Física em suas mãos
                </div>
                <div class="content">
                    LabFísica é um ambiente de desenvolvimento acadêmico para estudantes e professores da área da
                    Física. Resolva problemas físicos, visualize, interaja com ele e realize uma análise da modelagem
                    matemática completa que será disponibilizada!!! <br><br> #VamosModelar
                </div>
            </div>
            <div class="col">
                <div class="quadro">
                    <div id="glowscript1" class="glowscript"> </div>
                </div>
            </div>
        </section>

        <section id="content-section">
            <div class="col">
                <div class="card">
                    <i class="fas fa-cubes"></i>
                    <h3>Simulação Física</h3>
                    <p> Muitas vezes devido a impossibilidade de testar técnicas e hipóteses de resolução diretamente no
                        mundo real. Somos impostos a solucionar problemas através de uma analogia com a realidade: a
                        Simulação.</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <i class="fas fa-square-root-alt"></i>
                    <h3>Modelo Matemático</h3>
                    <p> Simulações utilizam modelos, em muitos casos, se uma solução analítica for possível. Se estes
                        conservam características: FÍSICAS e LÓGICAS do SISTEMA REAL imitado, trará resultados próximos
                        ao da realidade.</p>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <i class="fas fa-comments"></i>
                    <h3>Envie Sujestões</h3>
                    <p> Encontrou algum problema? Ou você tem situações físicas em mente que deseja sujerir para serem
                        simuladas aqui no LabFísica? Que massa!!! Pois envie uma mensagem agora!! Explicando
                        detalhadamente.</p>
                    <button id="send-email">Escrever</button>
                </div>
            </div>
        </section>

        <section id="content-section">
            <div class="col">
                <div class="quadro">
                    <div id="glowscript2" class="glowscript"> </div>
                </div>
            </div>
            <div class="col">
                <div class="title">
                    Vamos começar?
                </div>
                <div class="content">
                    Essas animações são interativas! É possível rotacionar o objeto e dar zoom!!! :0 Muito legal né?! ^^
                    Então... vamos lá? Para visualizar as instruções selecione o aparelho que está usando:
                    <div id="aparelho">
                        <div class="celular"> <button id="celular"></button> Celular</div>
                        <div class="computador"><button id="computador"></button> Computador</div>
                    </div>
                    <p id="instrucoes"></p>
                </div>
                <!-- <button id="mudar"> Mudar </button> -->
            </div>
        </section>
        <section id="content-section">
            <div class="title"
                style="text-align: center; width: 100%; border-top: 3px solid #47cf72; padding-top: 20px;"
                id="mecanica-classica">
                Mecânica Clássica:
            </div>
        </section>
        <section id="content-section">
            <div class="col">
                <div class="title">
                    Cinemática Escalar
                </div>
                <div class="content">
                    A cinemática escalar 
                </div>
                <!-- <button id="mudar"> Mudar </button> -->
            </div>
        </section>
        <section id="content-section">
            <div class="title"
                style="text-align: center; width: 100%; border-top: 3px solid #47cf72; padding-top: 20px;">
                Fórmulas Aleatória para testes:
            </div>
        </section>
        <section id="formula-section">
            <h5>
                Raiz de uma Função Quadrática
                $$ x = {-b \pm \sqrt{b^2-4ac} \over 2a} $$
            </h5>

            <h5>
                Integral de Cauchy
                $$ f(a) = \frac{1}{2\pi i} \oint\frac{f(z)}{z-a}dz $$
            </h5>

            <!-- <h5>
                Cosseno de dois Arcos
                $$ \cos(\theta+\phi)=\cos(\theta)\cos(\phi)-\sin(\theta)\sin(\phi) $$
            </h5> -->

            <h5>
                Teorema da Divergência de Gauss
                $$ \int_D ({\nabla\cdot} F)dV=\int_{\partial D} F\cdot ndS $$
            </h5>

            <h5>
                Desvio Padrão
                $$\sigma = \sqrt{ \frac{1}{N} \sum_{i=1}^N (x_i -\mu)^2} $$
            </h5>

            <h5>
                Rotacional de um Campo Vetorial
                $$ \vec{\nabla} \times \vec{F} = $$
                $$ \left( \frac{\partial F_z}{\partial y} - \frac{\partial F_y}{\partial z} \right) \mathbf{i} $$
                $$ + \left( \frac{\partial F_x}{\partial z} - \frac{\partial F_z}{\partial x} \right) \mathbf{j} $$
                $$ + \left( \frac{\partial F_y}{\partial x} - \frac{\partial F_x}{\partial y} \right) \mathbf{k} $$
            </h5>

        </section>

        <footer>
            <!-- <img src="logo2.png" alt=""> <br/> -->
            Copyright © 2021 Jefferson Barros Vieira
        </footer>
    </main>

    <canvas id="canvas2"></canvas>

    <!-- <h1>
        <%= mcTitle %>
    </h1>

    <h3>
        <%= mcContent %>
    </h3> -->

    <script src="/js/main.js"></script>
</body>

</html>